.notification {
    padding: 1em 2em;
    width: fit-content;
    margin-bottom: 2em;
    font-size: 1.25rem;
    border-radius: 4px;
}
.notification.success {
    background-color: hsl(130deg 40% 40%);
    border: 2px solid hsl(130deg 70% 20%);;
    color: hsl(130deg 70% 90%);
}
.notification.error {
    background-color: hsl(0deg 40% 40%);
    border: 2px solid hsl(0deg 70% 20%);;
    color: hsl(0deg 70% 90%);
}
